
<div class="row p-5 bg-white">
    <form>
        <legend><h2>Contact</h2></legend>
        <p>Puedes ponerte en contacto con nosotros enviando un correo electrónico o a través de
            nuestro servicio de atención al cliente. Estamos aquí para ayudarte.</p>

        <div class="container-form bg-light p-5 m-5 pt-3">
            <form>
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label"><strong>Your Email</strong></label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputPassword3" class="col-sm-2 col-form-label"><strong>Your messege</strong></label>
                    <div class="col-sm-10">
                        <textarea class="form-control" style="height: 150px"; placeholder="Leave your comment here..."
                            id="floatingTextarea"></textarea>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-primary me-md-2" type="button">Submit</button>
                </div>

        </div>


    </form>
</div>