<div class="row p-5 bg-white">
    <div class="container d-flex justify-content-center align-items-center">
         <div class="row py-5 border-top">

            <div class="col-7">
                <h3>The first heading <small class="text-secondary">Will catch your eye</small></h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi sed ipsum cumque nesciunt quaerat sint totam sunt minus, autem sit!</p>
            </div>

            <div class="col-md-5">
                <img class="img-fluid rounded-circle" width="300" height="300" src="assets/img/1.jpg" alt="img1">
            </div>

        </div>       
    </div>


</div>

