<div class="container-fluid bg-white d-flex justify-content-center">

        <div class="row my-5 py-2">

            <div class="col-7">
                <h3>The first heading <small class="text-secondary">Will catch your eye</small></h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi sed ipsum cumque nesciunt quaerat sint totam sunt minus, autem sit!</p>
            </div>

            <div class="col-md-5">
                <img class="img-fluid rounded-circle" width="300" height="300" src="assets/img/1.jpg" alt="img1">
            </div>

        </div>

</div>

