<!-- your html code here -->
<div class="row p-5 bg-white">
    <div class="container-fluid py-5 bg-white">
        <div class="container border-top pt-5">
            <h2 class="mb-4">Portfolio</h2>
            <div class="card-group">
                <div class="card border-light mb-3">
                    <img src="https://picsum.photos/id/43/700/400" class="card-img-top mr-5" alt="card-left">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card border-light mb-3">
                    <img src="https://picsum.photos/id/44/700/400" class="card-img-top" alt="card-middle">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card border-light mb-3">
                    <img src="https://picsum.photos/id/47/700/400" class="card-img-top ml-5" alt="card-right">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Project Name</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                            content. This card has even longer content than the first to show that equal height action.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>   
</div>

